/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}

@media only screen and (max-width: 1728px){

  body{
    background-color: #F25041;
  }
  
}

@media only screen and (max-width: 1440px){

  body{
    background-color: #33A6A6;
  }
  
}

@media only screen and (max-width: 430px){
  body{
    background-color: #8C1F66;
  }
  
}
/* ******************************** */

/* Colores */

/* ******************************** */
